* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, ul, ol, li, form, fieldset, legend, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  text-rendering: optimizeLegibility;
  font-weight: normal;
}
body {
  margin: 0;
  background: url('../../images/background.gif') #b4662e;
  font: 13px "HelveticaNeue", sans-serif;
  line-height: 1;
}
  #page {
    width: 980px;
    margin: 41px auto;
  }
    #page #left {
      float: left;
    }
      #outer-frame {
        position: relative;
      }
        #outer-frame .title {
          position: absolute;
          top: 49px;
          left: 51px;
          font-family: "HelveticaNeue-Medium", sans-serif;
          font-size: 49px;
          text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
          pointer-events: none;
        }
        #outer-frame .title.blank {
          letter-spacing: .2em;
        }
        #frame {
          background: #fff;
          -webkit-box-shadow: 0 4px 7px rgba(0,0,0,.3);
        }
      #footer {
        margin-top: 26px;
      }
        #footer .clear {
          width: 155px;
          height: 57px;
          margin: 0 0 0 -15px;
          display: inline-block;
          background: url('../../images/clear-drawing.png');
          border: none;
        }
        #footer .clear:active {
          background-position: 0 -57px;
        }
        #footer .clear[disabled] {
          opacity: .5;
        }
        #footer .clear[disabled]:active {
          background-position: 0 0;
        }
        #footer .start {
          width: 90px;
          position: relative;
          top: 10px;
          float: right;
        }
        #footer .start[disabled] {
          opacity: .4;
        }
    #page #right {
      margin: 76px 0 0 39px;
      float: left;
      text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
      font-size: 18px;
      color: #fff;
    }
      #page #right #players {
        margin-bottom: 38px;
        border-collapse: collapse;
      }
        #page #right #players td {
          padding: 0 0 11px;
        }
        #page #right #players .name {
          padding-right: 38px;
        }
        #page #right #players .drawing {
          width: 15px;
          background: 0 6px url('../../images/drawing.png') no-repeat;
        }
      #page #right #guess {
        padding: 4px 7px 6px;
        -webkit-appearance: none;
        border-radius: 3px;
        border: none;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .12),
          0 1px rgba(255, 255, 255, .15),
          inset 0 1px 3px rgba(0, 0, 0, .55);
        font-family: "HelveticaNeue";
        font-size: 18px;
        outline: none;
      }
      #page #right #guess[disabled] {
        opacity: .3;
      }

.spinner {
  width: 16px;
  height: 16px;
  visibility: hidden;
}
.spinner.white {
  background: url('../../images/spinner-white.png');
}
.spinner.show {
  visibility: visible;
}
